//@import '../bootstrap_sass/bootstrap.scss';
@import 'fonts.scss';
@import 'variables.scss';

body {
  background: $footer-color;
  font-size: 14px;
  font-family: $body-font;
  color: $body-color;
}

p {
  margin: 0 0 25px 0;
}

a {
  color: $link-color;
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h1 {
  font-size: $h1-size-lg;
  color: $h1-color;
  font-family: $h1-style;
  line-height: $h1-height;
  margin: $h1-margin;
  letter-spacing: -0.01em;
  @include border(bottom, 1px, $med-blue);
}

h1.landing {
  border: none;
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  margin-top: -82px;
  padding: 15px 0 10px 80px;
  width: 1140px;
}

.title-header {
  overflow: hidden;
  display: block;
}

h2 {
  font-size: $h2-size;
  color: $h2-color;
  font-family: $h2-style;
  line-height: $h2-height;
  margin: $h2-margin;
  letter-spacing: 0.02em;
  font-variant: small-caps;
}

h3 {
  font-size: $h3-size;
  color: $h3-color;
  font-family: $h3-style;
  line-height: $h3-height;
  margin: $h3-margin;
}

header {
  background: $header-color;
  .logo img {
    margin-top: 10px;
  }
  .block-search {
    margin: $search-position;
    .btn-primary {
      background: $dk-gray;
      border: $dk-gray 1px solid;
    }
  }
  .banner-container {
    width: $banner-container-lg;
    background: url('../images/banner_circles.gif') 0 100% no-repeat;
    padding: $header-padding;
  }
}

.header-logos-container {
  margin-top: 15px;
  .header-logos {
    float: right;
    a:first-child {
      margin-right: 20px;
    }
  }
}

.search-container {
  .form-group {
    margin-bottom: 0;
  }
}
.contain {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-color {
  background: $nav-color;
  font-family: $navlink-font;
  font-weight: $navlink-font-wt;
  @include border(top, 2px, $nav-border-color);
}

.navbar-nav {
  margin-top: -2px;
  li.expanded:hover .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    background: $navlink-bkgrd-active;
    padding-top: 10px;
    padding-bottom: 12px;
    li {
    }
    li > a {
      padding-top: 6px;
      padding-bottom: 7px;
      font-family: $submenu-link-font;
      color: $submenu-link-link;
      font-weight: $navlink-font-wt;
      font-size: $submenu-link-size;
      line-height: 1.3;
      text-decoration: none;
    }
    li.active > a,
    li > a:hover,
    li.active-trail > a.active-trail,
    li > a:focus {
      background: $submenu-link-bkgrd-active;
      border: none;
    }
  }
}

.navbar-nav > li > a {
  font-weight: $book-weight;
  text-decoration: none;
  color: $navlink-link;
  font-size: $navlink-size;
  padding: $navlink-padding;
  @include border(top, 2px, $nav-border-color);
}

.navbar-nav > li.last > a {
  background: $burgundy;
}

.nav > li.last > a:hover,
.nav > li.last > a.active,
.nav > li.last.active-trail a.active-trail,
.nav > li.last > a:focus {
  background: $dk-burgundy;
}

.nav > li > a:hover,
.nav > li > a.active,
.nav > li.active-trail a.active-trail,
.nav > li > a:focus {
  background: $navlink-bkgrd-active;
  color: $navlink-link-active;
  @include border(top, 2px, $black);
}

.nav > li > a.active,
.nav > li.active-trail a.active-trail {
  font-weight: $med-weight;
}

.hero-container {
  width: $hero-container-lg;
  z-index: 0;
  overflow: hidden;
}

.hero-border {
  @include border(bottom, 14px, $dk-blue);
}

.hero-bkgrd-left {
  background: url('../images/hero_bkgrd_left_1.jpg') 0 0 no-repeat;
  width: 645px;
  height: 458px;
  float: left;
}

.hero-bkgrd-right {
  @include border(left, 8px, $hero-bkgrd-border-color);
  background: url('../images/hero_bkgrd_right_1.jpg') 100% 0 no-repeat;
}

.hero-bkgrd-right-dims {
  width: 643px;
  height: 355px;
}
/*
*/

.hero {
  position: relative;
  width: auto;
  margin-bottom: 80px;
  .hero-left {
    @include border(left, 8px, $hero-bkgrd-border-color);
    @include border(right, 8px, $hero-bkgrd-border-color);
  }
  .hero-right {
    .embed-responsive-4by3 {
      padding-bottom: 76%;
    }
    .video-statement {
      color: $burgundy;
      font-size: 3.4em;
      font-weight: $lt-weight;
      @include border(left, 2px, $burgundy);
      margin: 40px 0 0 20px;
      padding: 5px 10px 25px 25px ;
      line-height: 1.2;
      letter-spacing: -0.04em;
    }
      
  }
  .col-md-8 {
    padding-right: 0;
  }
  .col-md-4 {
    padding-left: 0;
  }
}

.submenu {
  text-align: right;
  font-size: $submenu-link-size;
  font-family: $submenu-link-font;
  //text-align: right;
  .nav {
    width: 80%;
    float: right;
    margin-top: 20px;
    li {
      a {
        font-weight: normal;
        color: $submenu-link-link;
        display: inline-block;
        padding: 3px 0 3px 18px;
        margin-bottom: 26px;
        //padding: 10px 0;
      }
      a:hover,
      a:focus,
      a.active-trail {
        color: $submenu-link-link-active;
        background: $submenu-link-bkgrd-active;
      }
      a.active-trail {
      }
    }
  }
}

.content-gradient {
  background: $content-area-color;
}

.main-container {
  font-size: $body-size;
  font-weight: $body-weight;
}

.content-area-color {
}

.main-container-margin {
  margin: $main-container-margin-lg;
}

.main-content-margin {
  margin: $main-content-margin-lg;
}

.page-content {
  line-height: $body-height;
}

.research-themes-header {
  margin-bottom: 0;
  font-size: 3.5em;
  border-bottom: none;
}

.home-research-themes {
  width: 90%;
  margin: 0 auto;
  @include border(bottom, 1px, $dk-blue);
}

.research-theme {
  display: block;
  margin: 50px 0 20px 0;
  .research-theme-img {
    float: left;
    margin-right: 20px;
  }
  .research-theme-text {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    @include border(left, 1px, $dk-blue);
    font-family: $skolar-con;
    font-weight: $lt-weight;
    line-height: 1.2;
    font-size: 2.3em;
    height: 160px;
    color: $dk-blue;
    a {
      font-weight: $reg-weight;
    }
  }
}

.content-research-themes {
  .research-theme {
    .research-theme-img {
      width: 146px;
      margin-top: 7px;
      margin-bottom: 7px;
    }
    .research-theme-text {
      font-size: 1.2em;
      line-height: 1.1;
      height: 160px;
    }
  }
}

.content-img {
  background: $white;
  @include border(top, 12px, $green);
  img {
    margin: 25px auto 35px;
  }
  p {
    background: $green;
    color: $white;
    padding: 8px 30px 15px 30px;
    font-size: 0.8em;
    line-height: 1.35;
  }
}

.content-img.content-img-variation {
  @include border(bottom, 12px, $green);
  p {
    font-size: 1.3em;
    font-family: $more;
  }
}

.half-size {
  width: 50%;
}

.pull-left.img-margin {
  margin: 12px 25px 5px 0;
}

.pull-right.img-margin {
  margin: 10px 0 5px 20px;
}

.img-margin {
  margin: 20px 0;
}

.bottom-padding {
  img {
    padding: 10px 0 40px;
  }
}

.btn {
  text-decoration: none;
}

.btn-primary {
  background: $rust;
  border: none;
}

.btn-lg {
  font-size: 1.4em;
  padding-top: 4px; 
  padding-bottom: 15px; 
}

.oncopanel {
  margin-top: 50px;
}

.home-news {
  padding: 30px 20px;
  color: $white;
  font-size: 0.88em;
  h2, a {
    color: $white;
  }
  h2 {
    font-family: $h2-style;
    font-size: 2.0em;
    @include border('bottom', 1px, $white);
    display: inline-block;
    margin-bottom: 20px;
  }
  a {
    text-decoration: underline;
  }
  /*
  .views-field-title,
  .views-field-field-date {
    font-family: $bold-font;
  }
  .views-row {
    margin-bottom: 20px;
  }
  */
}

.no-bullets {
  list-style: none;
  li {
    margin-bottom: 15px;
  }
}

.img-float {
  float: left;
  margin: 5px 20px 3px 0;
}

footer {
  @include border(top, 12px, $footer-border-color);
}

.footer {
  border-top: none;
  margin-top:35px;
  padding-top: 0;
  padding-bottom: 80px;
}

.footer-logos {
  p {
    margin-bottom: 20px;
    margin-right: 80px;
  }
  a {
    margin-top: 20px;
    margin-right: 40px;
  }
}

.footer-legal {
  font-size: $footer-legal-size;
  color: $footer-font-color;
  p {
    margin: 0;
  }
  a {
    color: $footer-font-color;
  }
  ul {
    padding-left: 0;
    float: right;
  }
  li {
    padding: 0 10px;
    @include border(right, 1px, $footer-font-color);
    @include menustyle;
  }
  li:first-child {
   padding-left: 0;
  }
  li:last-child {
      border: none;
  }
  .legal {
    text-align: right;
    font-size: 75%;
    a {
      text-decoration: underline;
    }
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.people-row {
  margin-bottom: 40px;
}

.people-img {
  float: left;
  margin: 5px 20px 5px 0;
}

.img-margins {
  margin: 40px 0;
}

.bottom-margin {
  margin-bottom: 20px;
  display: inline-block;
}

@media (min-width: 1700px) {
  .col-xl-3 {
    width: 25%;
  }
}

@media (min-width: 1200px) and (max-width:1399px){
  header {
    .banner-container {
      width: 1200px;
    }
    .logo {
      margin-left: 100px;
    }
  }
}

@media (min-width: 1200px) and (max-width: 2200px) {
  .research-theme {
    .research-theme-img {
      width: 107px;
    }
    .research-theme-text {
      font-size: 1.7em;
      height: 120px;
      padding-right: 30px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  header {
    .banner-container {
      width: $banner-container-md;
    }
  }
  .hero {
    margin-bottom: 60px;
    .hero-right {
      .video-statement {
        font-size: 2.9em;
      }
    }
  }
  .research-themes-header {
    font-size: 3.2em;
  }
  .home-research-themes {
     width: 95%;
  }
  .research-theme {
    .research-theme-text {
      font-size: 2.0em;
    }
  }
  h1 {
    font-size: $h1-size-md;
  }

  h1.landing {
    width: 940px;
    margin-top: -76px;
    padding-left: 50px;
  }

  .main-container-margin {
    margin: $main-container-margin-md;
  }
  .main-content-margin {
     margin: $main-content-margin-md;
  }

  .content-img {
    img {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .footer-logos {
    p {
      margin-right: 50px;
    }
    a {
      margin-right: 20px;
    }
  }
}

@media (max-width: 991px) {
  .home-research-themes {
    border:none;
  }
  .research-themes-header {
    text-align: center;
    @include border(bottom, 1px, $dk-blue);
  }
  .content-img {
    img {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .footer-logos {
    p, a {
      margin-right: 0;
    }
    p {
      display: block;
      img {
        margin-right: auto;
        margin-left: auto;
      }
    }
    a {
      display: table;
      margin: 25px auto;
    }
    .pull-left {
      float: none !important;
    }
  }
  .footer-legal,
  .footer-legal .legal {
    text-align: center;
  }
  .footer-legal {
    ul {
      float: none;
      display: inline-block;
      margin: 0;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header {
    .banner-container {
      width: $banner-container-sm;
    }
  }
  .hero {
    margin-bottom: 40px;
    .hero-right {
      .video-statement {
        font-size: 2.1em;
      }
    }
  }
  .home-research-themes {
    width: 600px;
  }
  .research-themes-header {
    font-size: 3.2em;
  }
  h1 {
    font-size: $h1-size-sm;
  }
  h1.landing {
    width: 720px;
    margin-top: -66px;
    padding: 12px 0 8px 50px;
  }
  h2 {
    font-size: $h2-size-sm;
  }
  .main-container-margin {
    margin: $main-container-margin-sm;
  }
  .main-content-margin {
     margin: $main-content-margin-sm;
  }
  .content-img {
    p {
      padding: 6px 30px 15px 30px;
    }
  }
  .content-img.content-img-variation {
    p {
      font-size: 1.1em;
    }
  }
}

@media (max-width: 767px) {
  header {
    text-align: center;
    .banner-container {
      width: $banner-container-xs;
    }
    .logo {
      display: inline-block;
      img {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .block-search {
      margin-top: 0;
    }
  }
  .header-logos-container {
    float: left;
  }
  .hero {
    .hero-left,
    .hero-right {
      border: none;
    }
    .col-md-4,
    .col-md-8 {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

