//@import '../bootstrap_sass/bootstrap.scss';
@import 'fonts.scss';
@import 'variables.scss';

body {
  background: $footer-color;
  font-size: 14px;
  font-family: $body-font;
  color: $body-color;
}

a {
  color: $link-color;
}

h1, h2, h3, h4, strong {
  font-weight: normal;
}

h1 {
  font-size: $h1-size;
  color: $h1-color;
  font-family: $h1-style;
  line-height: $h1-height;
  margin: $h1-margin;
}

h2 {
  font-size: $h2-size;
  color: $h2-color;
  font-family: $h2-style;
  line-height: $h2-height;
  margin: $h2-margin;
}

h3 {
  font-size: $h3-size;
  color: $h3-color;
  font-family: $h3-style;
  line-height: $h3-height;
  margin: $h3-margin;
}

header {
  background: $header-color;
  .logo img {
    margin-top: 10px;
  }
  .block-search {
    margin: $search-position;
  }
  .banner-container {
    width: $banner-container-lg;
    background: url('../images/banner_circles.gif') 0 100% no-repeat;
    padding: $header-padding;
  }
}

.contain {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-color {
  background: $nav-color;
  font-family: $navlink-font;
  font-weight: $navlink-font-wt;
  @include border(top, 2px, $nav-border-color);
}

.navbar-nav {
  margin-top: -2px;
}

.navbar-nav > li > a {
  color: $navlink-link;
  font-size: $navlink-size;
  padding: $navlink-padding;
  @include border(top, 2px, $nav-border-color);
}

.nav > li > a:hover,
.nav > li > a.active,
.nav > li.active-trail a.active-trail,
.nav > li > a:focus {
  background: $navlink-bkgrd-active;
  color: $navlink-link-active;
  @include border(top, 2px, $black);
}

.nav > li > a.active,
.nav > li.active-trail a.active-trail {
  font-weight: $med-weight;
}

.hero-container {
  width: $hero-container-lg;
  z-index: 0;
  overflow: hidden;
}

.hero-bkgrd-left {
  background: url('../images/hero_bkgrd_left_1.jpg') 0 0 no-repeat;
  width: 645px;
  height: 458px;
  float: left;
}

.hero-bkgrd-right {
  background: url('../images/hero_bkgrd_right_1.jpg') 100% 0 no-repeat;
  width: 643px;
  height: 355px;
}
/*
*/

.hero {
  position: relative;
  width: auto;
  margin-bottom: 80px;
  .hero-left {
    @include border(left, 8px, $lt-blue);
    @include border(right, 8px, $lt-blue);
  }
  .hero-right {
    @include border(right, 8px, $lt-blue);
    .video-statement {
      color: $med-blue;
      font-size: 2.8em;
      @include border(left, 1px, $med-blue);
      margin: 40px 20px 0 30px;
      padding: 5px 20px 5px 25px ;
      line-height: 1.1;
    }
      
  }
  .col-md-8 {
    padding-right: 0;
  }
  .col-md-4 {
    padding-left: 0;
  }
}

.submenu {
  text-align: right;
  font-size: $submenu-link-size;
  font-family: $submenu-link-font;
  //text-align: right;
  .nav {
    width: 80%;
    float: right;
    margin-top: 20px;
    li {
      a {
        font-weight: normal;
        color: $submenu-link-link;
        display: inline-block;
        padding: 3px 0 3px 18px;
        margin-bottom: 26px;
        //padding: 10px 0;
      }
      a:hover,
      a:focus,
      a.active-trail {
        color: $submenu-link-link-active;
        background: $submenu-link-bkgrd-active;
      }
      a.active-trail {
      }
    }
  }
}

.content-gradient {
  background: $content-area-color;
}

.main-container {
  font-size: $body-size;
}

.content-area-color {
}

.main-container-margin {
  margin: $main-container-margin;
}

.main-content-margin {
  margin: $main-content-margin;
}

.page-content {
  line-height: $body-height;
}

.research-themes-header {
  margin-bottom: 0;
}

.home-research-themes {
  width: 90%;
  margin: 0 auto;
  @include border(bottom, 1px, $dk-blue);
}

.research-theme {
  display: block;
  margin: 50px 0 20px 0;
  .research-theme-img {
    float: left;
    margin-right: 20px;
  }
  .research-theme-text {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    @include border(left, 1px, $dk-blue);
    font-family: $skolar-con;
    font-weight: $lt-weight;
    line-height: 1.2;
    font-size: 2.3em;
    height: 160px;
    color: $dk-blue;
  }
}

.home-news {
  padding: 30px 20px;
  color: $white;
  font-size: 0.88em;
  h2, a {
    color: $white;
  }
  h2 {
    font-family: $h2-style;
    font-size: 2.0em;
    @include border('bottom', 1px, $white);
    display: inline-block;
    margin-bottom: 20px;
  }
  a {
    text-decoration: underline;
  }
  /*
  .views-field-title,
  .views-field-field-date {
    font-family: $bold-font;
  }
  .views-row {
    margin-bottom: 20px;
  }
  */
}

.no-bullets {
  list-style: none;
  li {
    margin-bottom: 15px;
  }
}

.img-float {
  float: left;
  margin: 5px 20px 3px 0;
}

footer {
  @include border(top, 5px, $footer-border-color);
}

.footer {
  border-top: none;
  margin-top:25px;
}

.footer-logos {
  p {
    margin-bottom: 20px;
  }
}

.footer-legal {
  font-size: $footer-legal-size;
  color: $footer-font-color;
  p {
    margin: 0;
  }
  a {
    color: $footer-font-color;
  }
  ul {
    padding-left: 0;
    float: right;
  }
  li {
    padding: 0 10px;
    @include border(right, 1px, $footer-font-color);
    @include menustyle;
  }
  li:first-child {
   padding-left: 0;
  }
  li:last-child {
      border: none;
  }
  .legal {
    text-align: right;
    font-size: 75%;
    a {
      text-decoration: underline;
    }
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

@media (min-width: 1700px) {
  .col-xl-3 {
    width: 25%;
  }
}

@media (min-width: 1200px) and (max-width:1399px){
  header {
    .banner-container {
      width: 1200px;
    }
    .logo {
      margin-left: 100px;
    }
  }
}

@media (min-width: 1200px) and (max-width: 2200px) {
  .research-theme {
    .research-theme-img {
      width: 107px;
    }
    .research-theme-text {
      font-size: 1.7em;
      height: 120px;
      padding-right: 30px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
}

