
/* Mixins */
@mixin menustyle {
	float: left;
	list-style: none;
}

@mixin border ($type, $size, $color) {
  border-#{$type}-width: $size;
  border-#{$type}-style: solid;
  border-#{$type}-color: $color;
}


/* Variables */

/* Generic colors */
$dk-blue: #002C70;
$med-blue: #003B7B;
$lt-blue: #DEE6EB;
$gray: #5C6470;
$green: #3B6A00;
$rust: #AA3828;
$lt-gray: #ddd;
$dk-gray: #464A5F;
$lt-bluegray: #AAC2D8;
$white: #fff;
$burgundy: #A90533;
$dk-burgundy: #770025;
$black: #000;
$hero-bkgrd-border-color: #F2F5F7;

/* fonts */
$skolar: 'skolar-sans-latin';
$skolar-con: 'skolar-sans-latin-condensed';
$roboto: 'roboto';
$more: 'ff-more-web-pro';
$body-font: $skolar;
$exlt-weight: 200;
$lt-weight: 300;
$book-weight: 300;
$more-book-weight: 400;
$reg-weight: 400;
$med-weight: 500;
$bold-weight: 700;

/* Header */    
$header-color: $dk-blue;
$header-padding: 5px 0 17px 0;
$banner-container-lg: 1400px;

$search-position: 20px 0 0 0;
$content-area-color: $lt-blue radial-gradient(circle, #fff, $lt-blue);

/* Hero */    
$hero-container-lg: 100%;
$hero-position: 50px 0 0 30px;
$hero-size: 3.0em;
$hero-color: $white;
$hero-style: $bold-weight;
$hero-img-ht: 400px;
$hero-img-img: url('../images/hero_img2_reduced.jpg') 0 0 no-repeat;


/* navbar */
$nav-color: $gray;
$nav-border-color: $lt-bluegray;
$navlink-bkgrd-active: $dk-gray;
$navlink-link: $white;
$navlink-link-active: $white;
$navlink-padding: 15px 15px 15px 15px;
$navlink-size: 20px;
$navlink-font: $roboto;
$navlink-font-wt: $lt-weight;

/* submenu */
$submenu-color: $white;
$submenu-link-bkgrd-active: $gray;
$submenu-link-link: $white;
$submenu-link-link-active: $dk-blue;
$submenu-link-padding: 15px 15px 15px 15px;
$submenu-link-size: 1.3em;
$submenu-link-font: $roboto;


/* Main content */
$body-color: $black;
$body-size: 1.6em;
$body-weight: $exlt-weight;
$body-height: 1.5em;
$link-color: $rust;


$main-container-margin-lg: 60px 0 0 0;
$main-content-margin-lg: 0 60px 80px 83px;


$h1-size-lg: 2.3em;
$h1-color: $med-blue;
$h1-style: $more;
$h1-height: 1.1em;;
$h1-margin: 20px 0;

$h2-size: 1.3em;
$h2-color: $green;
$h2-style: $more;
$h2-height: 1.3;
$h2-margin: 20px 0 0 0;

$h3-size: 1.0em;
$h3-color: $gray;
$h3-style: $more;
$h3-height: 1.0em;
$h3-margin: 20px 0 3px 0;


$footer-color: $gray;
$footer-border-color: $dk-blue;


$footer-legal-size: 1.1em;
$footer-font-color: $white;

h1, h2, h3, h4, strong {
  font-weight: normal;
}

a, strong {
  font-weight: $bold-weight;
  letter-spacing: -0.01em;
}

////////////
// MEDIUM //
////////////
$banner-container-md: 990px;
$main-container-margin-md: 50px 0 0 0;
$main-content-margin-md: 0 50px 80px 53px;
$h1-size-md: 2.1em;

////////////
//. SMALL //
////////////

//////////////////
//. EXTRA SMALL //
//////////////////


